@font-face {
    font-family: 'Graphik LCG';
    src: url('../font/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../font/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../font/GraphikLCG-Regular.woff2') format('woff2'),
        url('../font/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

